.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.nick{
    margin: 0 0 0 20px;
}
.btn-circle.btn-xl {
    width: 35px;
    height: 35px;
    padding: 0;
    
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    object-fit: cover;
}
.picture{
    border-style: dashed;
    

}
.drop{
    grid-column: span 4;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
}
